In [1]:
import yfinance as yf

In [5]:
msft = yf.Ticker("SP=F")
msft.history(period="1y")

              Open    High     Low   Close  Volume  Dividends  Stock Splits
Date
2019-06-24  2952.0  2959.0  2949.5  2952.1    1987          0             0
2019-06-25  2952.0  2955.8  2922.0  2922.1    1436          0             0
2019-06-26  2925.1  2937.0  2917.9  2917.9    5299          0             0
2019-06-27  2916.0  2934.9  2916.0  2930.9     909          0             0
2019-06-28  2937.0  2953.5  2930.1  2944.2     697          0             0
...            ...     ...     ...     ...     ...        ...           ...
2020-06-09  3209.1  3211.2  3190.7  3211.2   10983          0             0
2020-06-10  3219.2  3221.7  3164.7  3164.7    2783          0             0
2020-06-11  3173.7  3173.7  3102.6  3102.9    5505          0             0
2020-06-22  3079.0  3093.2  3079.0  3093.2     980          0             0
2020-06-23  3134.2  3134.2  3134.2  3134.2       2          0             0

[262 rows x 7 columns]

In [28]:
!jupyter nbconvert --to script *.ipynb

[NbConvertApp] Converting notebook api_test.ipynb to script
[NbConvertApp] Writing 74 bytes to api_test.txt